body {
    background-color: #f1f2f6;
}

.navbar-custom {
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-custom .navbar-brand {
    color: #3bafda;
    font-size: 25px;
}

.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus {
    color: #4fc1e9;
}

.well h2 {
    font-size: 22px;
    margin: 0;
}

.well .row {
    margin: 10px 0;
}

.well input[type=radio] {
    margin: 0 10px;
}

.well textarea {
    resize: none;
}

.well img.loader {
    display: none;
    width: 30px;
}